raw_datasets/*
venv
*.zip
processed_training/*
combined_training/*
datasets/*
*.zip
/archive
/archive1
/__pycache__
/.vscode
symbols.npz
symbols_2000.npz
symbols_2000_1.npz
/combined_training
/__MACOSX
/processed_training
/processed_training_2000
/processed_training_2000_1